<div class="form-widget">
    {% for images in field.value %}
        <a href="#" class="ea-lightbox-thumbnail">
            <img src="{{ asset('asset/images/' ~ images.imageName) }}" title="{{ images.imageName }}" alt="...">
        </a>
        <div class="ea-lightbox">
            <img src="{{ asset('asset/images/' ~ images.imageName) }}" title="{{ images.imageName }}" alt="...">
        </div>
    {% endfor %}
</div>