{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
    <hr>
    <div class="p-5">
    <h1>Oups, On ne peux pas encore réserver sur le site, téléphonez nous au 06.10.20.21.22, ou passez nous voir directement !</h1>
    </div>
    <hr>
{% endblock %}
