{% extends 'base.html.twig' %}

{% block title %}Paiement Paypal{% endblock %}

{% block body %}


    <div class="container mx-auto" style="padding-top: 8rem">
        <hr>
        <h1 class="m-2">Merci {{ user.prenom }} pour votre commande !</h1>

        {% set total = null %}
        {% set tempsTotal = null %}
        {% set NResa = null %}
        {% for item in panier %}
            {% set total = total + (item.plat.prix * item.quantite) %}
            {% set tempsTotal = tempsTotal + item.plat.duree %}
            {% set NResa = random() %}
        {% endfor %}
        <hr>
        <h2>Le numéro de réservation est le N°{{ NResa }}</h2>
        <h2>La commande sera disponible dans {{ tempsTotal+2 }} minutes</h2>
        <hr>
        <a href="{{ path('concept_soir') }}" class="text-decoration-none"><h3 class="text-center">Découvrez notre concept du soir</h3></a>
    </div>

{% endblock %}
