{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
    <hr>
    <h1>Oups, On ne peux pas encore réserver le soir, téléphonez nous au 06.10.20.21.22, ou passez nous voir directement</h1>
    <hr>
{% endblock %}
