<div class="footer-container">
    <div class="m-3">
        <a href="{{ path("mentionslegales") }}">
            &copy; {{ "now" | date('Y') }} Memento | Mentions Légales
        </a>
    </div>
</div>