
<div class="bg-primary fixed-bottom">
    <div class="m-2 footer-container">
        <a class="text-decoration-none btn btn-primary" href="{{ path("mentionslegales") }}">
            &copy; {{ "now" | date('Y') }} Memento | Mentions Légales
        </a>
    </div>
</div>