<div class="footer-container fixed-bottom">
    <div class="m-3">
        <a class="text-decoration-none" href="{{ path("mentionslegales") }}">
            &copy; {{ "now" | date('Y') }} Memento | Mentions Légales
        </a>
    </div>
</div>