<div class="row mt-5">
    <div class="col-sm-12 col-md-6 text-center">
        <a href="{{ path("reservation_home") }}" class="logo-link">
            <img src="{{ asset('asset/icone/Memento.png') }}" alt="Logo Memento" class="logoMemento" width="500">
        </a>
    </div>
</div>





